<% @article.errors.full_messages.each do |error| %>
  <div><%= error %></div>
<% end %>
<div class="form_container">
  <form action="/categories/<%= "#{@category.title}"%>/<%= @article.id %>" method="post">
    <input type="hidden" name='_method' value ='put'>
    <div>
      <input type="text" name="new_title" placeholder="Title" value="<%= @article.title %>">
    </div>
    <div>
      <input class="descript_form" type="text" name="description" placeholder="Description" value="<%= @article.description %>"></input>
    </div>
    <div>
      <input type="text" name="image_url" placeholder="Image link" value="<%=@article.image_url%>">
    </div>
    <div>
      <input type="text" name="price" placeholder="Price" value="<%=@article.price%>">
    </div>
    <div>
      <input type="text" name="email" placeholder="Your Email" value="<%=@article.email%>">
    </div>
    <input type="submit" value="Update Article"/>
  </form>

  <form action="/categories/<%= "#{@category.title}"%>/<%= @article.id %>" method="post">
    <input type="hidden" name='_method' value ='delete'>
    <input type="submit" value="Delete Article"/>
  </form>
</div>
